<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end mx-5 my-3" data-bs-toggle="modal" data-bs-target="#addSchool">+ Add School</button>

<div data-controller="school">
    <div class="div_menu_table table-responsive w-100 m-auto my-3 p-3">
        <%= content_tag :table, class: "table table-hover", id: "table-school-list", width: "100%", data: { url: additional_datatable_path(format: :json, menu: params["menu"])} do %>
            <thead>
                <tr>
                    <th width="20%">Image</th>
                    <th width="30%">School</th>
                    <th width="15%">Status</th>
                    <th class="text-center" width="20%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        <% end %>
    </div>

    <div class="show-dialog">
        <%= render partial: "additional_content/school_dialog", locals: { menu: params["menu"], content: @content } %>
    </div>
</div>